name: Node CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        continue-on-error: true
        with:
          args: >
            -Dsonar.projectKey=abdelilah-mo_ci-node-devops-app
            -Dsonar.organization=abdelilah-mo
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
